<div id="parse_div" class="generic-container" ng-controller="ParseController as ctrl">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">Парсинг новостей</span></div>

        <div class="panel-heading">
            <div class="row">
                <span class="lead">
                    <input ng-click="ctrl.citySubmit()" type="submit"  value="Спарсить city-n.ru" class="btn btn-primary btn-sm">
                    <input ng-click="ctrl.shazooSubmit()" type="submit"  value="Спарсить shazoo.ru" class="btn btn-primary btn-sm">
                    <input ng-click="ctrl.kremlinSubmit()" type="submit"  value="Спарсить kremlin.ru" class="btn btn-primary btn-sm">
                </span>
            </div>
        </div>
        <div class="formcontainer">
            <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-lable">Название сайта</label>
                        <div class="col-md-6">
                            <input type="text" ng-model="ctrl.query.url" name="name" class="field form-control input-sm" placeholder="Введите полное название сайта" required ng-minlength="1"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-lable">Суффикс для новостного раздела</label>
                        <div class="col-md-6">
                            <input type="text" ng-model="ctrl.query.urlSuffix" name="suffix" class="field form-control input-sm" placeholder="Введите суффикс"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3 control-lable">Селектор поля даты</label>
                    <div class="col-md-6">
                        <input type="text" ng-model="ctrl.query.dateTag" name="dateTag" class="field form-control input-sm" placeholder="Введите селектор" required/>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-lable">Название поля даты</label>
                        <div class="col-md-6">
                            <input type="text" ng-model="ctrl.query.dateName" name="dateName" class="field form-control input-sm" placeholder="Введите значение" required/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-lable">Елемент с датой</label>
                        <div class="col-md-6">
                            <input type="text" ng-model="ctrl.query.dateTextTag" name="dateTextTag" class="field form-control input-sm" placeholder="Введите html элемент"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-lable">Селектор поля заголовка</label>
                        <div class="col-md-6">
                            <input type="text" ng-model="ctrl.query.titleTag" name="titleTag" class="field form-control input-sm" placeholder="Введите селектор" required/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-lable">Название поля заголовка</label>
                        <div class="col-md-6">
                            <input type="text" ng-model="ctrl.query.titleName" name="titleName" class="field form-control input-sm" placeholder="Введите значение" required/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-lable">Елемент с заголовком</label>
                        <div class="col-md-6">
                            <input type="text" ng-model="ctrl.query.titleTextTag" name="titleTextTag" class="field form-control input-sm" placeholder="Введите html элемент"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-lable">Абсолютная ли ссылка на новость</label>
                        <div class="col-md-6">
                            <input type="text" ng-model="ctrl.query.isFullLinkToBody" name="isFullLinkToBody" class="field form-control input-sm" placeholder="Введите true или false" required/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-lable">Селектор поля тела новости</label>
                        <div class="col-md-6">
                            <input type="text" ng-model="ctrl.query.bodyTag" name="bodyTag" class="field form-control input-sm" placeholder="Введите селектор" required/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-lable">Название поля с телом новости</label>
                        <div class="col-md-6">
                            <input type="text" ng-model="ctrl.query.bodyName" name="bodyName" class="field form-control input-sm" placeholder="Введите значение" required/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-lable">Елементы с текстом</label>
                        <div class="col-md-6">
                            <input type="text" ng-model="ctrl.query.bodyTextTag" name="bodyTextTag" class="field form-control input-sm" placeholder="Введите html элементы"/>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="form-actions floatRight">
                        <input type="submit"  value="Спарсить" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

